* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
}

nav {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    z-index: 100;
}

.LogoNav {
    height: 100%;
    width: 20%;
    /* background-color: aqua; */
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    display: flex;
    justify-content: center;
}

.LogoNav img {

    width: 55px;
}

.ListaNav {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 100%;
    width: 30%;
    /* background-color: chartreuse; */
}

.ListaNav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.ListaNav ul li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ContaNav {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;


}

.ContaNav button {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 130px;
    height: 30px;
    border: 0;
    border-radius: 8px;
}

.Aviso {
    width: 100%;
    padding-top: 50px;
    /* position: relative; */
    background-color: #D9D9D9;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.AvisoN {
    display: none;
}

.SairAviso {
    width: 100%;
}


.SairAviso button{
    border: 0;
    background-color: #D9D9D9;
}

.SairAviso i{
    font-size: 25px;
}
    


.BotaoAviso {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 70px;

}

.BotaoAviso button {
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}

/* .verde {
    
    height: 50px;
    background-color: #1D9C00;
} */

.TopNews {
    /* height: 900px; */
    background-color: black;
    display: flex;
    justify-content: center;

}

.Noticias {
    height: 1000px;
    width: 1000px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 900px
}

.N1 {
    z-index: ;
    padding: 10px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    border: solid 1px;
    border-color: #FFF;
}
.N1 h1{
    text-align: center;
    color: #FFF;
}
.N1 p{
    color: #D9D9D9;
    text-align: center;
}
.ImagemN1 {
    background-color: #d9d9d9;
    height: 300px;
    /* width: 500px; */
    object-fit: fill;
}

.ImagemN1 img {
    height: 100%;
}

.DescricaoN1 {
    background-color: black;
    /* width: 300px; */
}

.Noticias{
    overflow: scroll;

}
.Noticias::-webkit-scrollbar{
    display: none;
}
.ListaNavMobile{
    display: none;
}

.mobile-menu{
    display: none;
}


.Visivel{
    width: 100%; /* Largura do slider */
  display: flex;
}
.Competicoes{
    width: 300px; /* Largura da janela do slider */
    height: 200px; /* Altura da janela do slider */
    overflow: hidden;
    position: relative; /* Importante para posicionar os slides */
}
.Competicoes ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.Competicao{
    width: 300px; /* Largura de cada slide */
  height: 200px;
    background-color: blanchedalmond;
}

.slider-container {
    width: 700px; /* Largura da janela do slider */
    height: 200px; /* Altura da janela do slider */
    overflow: hidden;
    position: relative; /* Importante para posicionar os slides */
  }
  
  .slider {
    gap: 10px;
    width: 100%; /* Largura do slider */
    display: flex; /* Para alinhar os slides horizontalmente */
  }
  
  .slide {
    
    background-color: crimson ;
    width: 500px; /* Largura de cada slide */
    height: 50px; /* Altura de cada slide */
  }






















@media (max-width: 720px) {


.ListaNav{
   display:  none;
}
.ContaNav{
    display: none;
}
.LogoNav img{
    width: 35px;
}
.LogoNav{
    font-size: 35px;
}

.bi.bi-person-circle{
    color: white;
}

.bi.bi-three-dots{
    color: white;
}

.ConteudoAviso{
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.BemVindo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.BemVindo p{
    width: 70%;
    text-align: center;
}
.BotaoAviso{
    height: 50px;
}
.NoticiaPrincipal{
    width: 100%
}
.N1{
    width: 100%;
}

/* MENU MOBILE */

.ListaNavMobile{
    display: block;
    gap: 20px;
    width: 100%;
    height: 3vh;
    position: fixed;
    margin-top: 4.7vh;
    background-color: #000;
    transition: all 0.3s;
    z-index: 10;
}

.ListaNavMobile a{
    text-decoration: none;
    color: #D9D9D9;
}

.ListaNavMobile ul{
    display: flex;
    justify-content: space-around;
} 

.ListaNavMobileDesativado{
    display: none;
}

.Desativado{

    margin-top: -3.2vh;
    
}

.mobile-menu{
    display: block;
}
.mobile-menu button{
    
    border: 0;
    background: none;

}



}