* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu Header */
.ContainerMobile {
    display: none;
}
.navbar{
    padding: 0;
}

.line{
    width: 27%;
    height: 1px;
    rotate: 90deg;
    background-color: #fff;
    margin-top: 18px;
}

.dropdown-menu a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
}
/* header {
    position: fixed;
    width: 100%;
}

nav {
    width: 100%;
    height: 5vh;
    display: flex !important;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    z-index: 100;
}
*/
.LogoNav{
    width: 50px;
}
/*  */
/* .LogoNav img {

    width: 55px;
} */

.ListaNav {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 100%;
    width: 30%;
    /* background-color: chartreuse; */
}

.ListaNav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.ListaNav ul li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ContaNav {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;


}

.ContaNav button {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 130px;
    height: 30px;
    border: 0;
    border-radius: 8px;
} */
/*  */
.Aviso a {

    color: #000;
    text-decoration: none
}
.Aviso {

    width: 100%;

    /* padding-top: 50px; */
    /* position: relative; */
    background-color: #D9D9D9;
    /* height: 170px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.AvisoN {
    display: none;
}

.SairAviso {
    width: 100%;
}


.SairAviso button {
    border: 0;
    background-color: #D9D9D9;
}

.SairAviso i {
    font-size: 25px;
}



.BotaoAviso {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 70px;
    margin-bottom: 10px;
}

.BotaoAviso button {
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}

.BotaoAviso button a {
    text-decoration: none;
    color: #000;
}

/* Corpo */
body{
    background-color: #D9D9D9;
}
.TopNews {
    /* height: 900px; */
    background-color: black;
    display: flex;
    justify-content: center;

}

.Noticias {
    /* height: 1500px; */
    width: 1000px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px
    /* padding-top: 550px */
}

.Noticias a p {
    text-decoration: none;
    color: #FFF
}

.N1 {
   
    padding: 10px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    border: solid 1px;
    border-color: #FFF;
}

.N1 h1 {
    text-align: center;
    color: #FFF;
    font-size:35px ;
}

.N1 p {
    color: #D9D9D9;
    text-align: center;
}

.ImagemN1 {
    background-color: #d9d9d9;
    /* height: 300px; */
    /* width: 500px; */
    object-fit: fill;
}

.ImagemN1 img {
    height: 100%;
    width: 100%;
}

.DescricaoN1 {
    background-color: black;
    /* width: 300px; */
}

.Noticias {
    overflow: scroll;

}

.Noticias::-webkit-scrollbar {
    display: none;
}

.ListaNavMobile {
    display: none;
}



.slider-container{
    display: flex;
    justify-content:center ;
}

.slider {
    display: flex;
    flex-direction: row ;
    /* justify-content: space-around; */
    width: 700px ; 
    height: 100px;
    overflow: scroll;
  }

  .slide {
    width: 200px !important; 
    height: 50px; /* Altura dos slides */
    background-color: #3498db; /* Cor de fundo dos slides */
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


  .bi.bi-person-circle{
    display: none;
  }





@media (max-width: 720px) {

    .bi.bi-person-circle{
        display: block;
      }
    
    .btn-group.dropstart{
        display: none;
    }
    .line{
        display: none;
    }

    .navbar-nav.me-auto.mb-2.mb-lg-0 li a{
        font-size: 20px;
    }

    .navbar-brand{
        margin: 0;
    }

    .navbar-toggler-icon{
        color: #fff;
    }

    .navbar-collapse.collapse{
        display: none;
    }
    .navbar-collapse.collapse.show{
        display: block;
        height: 20px;
        background-color: #000;
        margin-bottom:  90px;
}

    .ListaNav {
        display: none;
    }

    .ContaNav {
        display: none;
    }

    .LogoNav img {
        width: 35px;
    }

    .LogoNav {
        font-size: 35px;
    }

    .bi.bi-person-circle {
        color: white;
    }

    .bi.bi-three-dots {
        color: white;
    }

    .ConteudoAviso {
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .BemVindo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .BemVindo p {
        width: 70%;
        text-align: center;
    }

    .BotaoAviso {
        height: 50px;
    }

    .NoticiaPrincipal {
        width: 100%
    }

    .N1 {
        padding: 5px;
        display: block;
        height: 100%;
    }

    .Noticias {
        /* padding-top: 40vh; */
    }

    .ImagemN1 {
        width: 100%;
        overflow: hidden;
    }

    .DescricaoN1 h1 {
        font-size: 25px;
    }

    .DescricaoN1 p {
        font-size: 15px;
    }

    /* MENU MOBILE */
    .navbar-nav.me-auto.mb-2.mb-lg-0{
        display: flex;
    justify-content: center;
    flex-direction: row;
    }
    
   

    .ListaNavMobile {
        display: block;
        gap: 20px;
        width: 100%;
        height: 3vh;
        position: fixed;
        margin-top: 4.7vh;
        background-color: #000;
        transition: all 0.3s;
        z-index: 10;
    }

    .ListaNavMobile a {
        text-decoration: none;
        color: #D9D9D9;
    }

    .ListaNavMobile ul {
        display: flex;
        justify-content: space-around;
    }

    .ListaNavMobileDesativado {
        display: none;
    }

    .Desativado {

        margin-top: -3.2vh;

    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu button {

        border: 0;
        background: none;

    }

    .Noticia {
        width: 90%;
        /* Ocupa 90% da largura da tela em telas menores */
    }


}